doctype html
html
  head
    meta(content="text/html; charset=UTF-8", http-equiv='Content-Type')
    
    title FIK UFO DEDEX MACHINE
    meta(name='description', content='ultimate live 8-bit battle')
    meta(name='author', content='Martin Dedek')
    meta(property='og:title', content='FIK UFO DEDEX MACHINE')
    meta(property='og:description', content='ultimate live 8-bit battle')
    meta(property='og:url', content='http://fik.dedex.cz/')

    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=", crossorigin="anonymous")

    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")

  body
    block content

    if process.env.GOOGLE_ANALYTICS_ID
      // Global site tag (gtag.js) - Google Analytics
      script(async src='https://www.googletagmanager.com/gtag/js?id=' + process.env.GOOGLE_ANALYTICS_ID)
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '#{process.env.GOOGLE_ANALYTICS_ID}');
